<body>

{% trans %}One term to translate{% endtrans %}<br>

{{ 'One term to translate'|trans }}

<br><br>

{% trans %}One term <strong>with HTML</strong> to translate{% endtrans %}<br>

{{ 'One term <strong>with HTML</strong> to translate'|trans }}

</body>
