<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="{{ _charset }}" />
    <title>Une erreur s'est produite : {{ status_text }}</title>
</head>
<body>
<h1>Zut ! Une erreur s'est produite</h1>
<h2>Le serveur a retourné une erreur "{{ status_code }} {{ status_text }}".</h2>

<div>
    Toutes nos excuses pour la gêne occasionnée
</div>
</body>
</html>
